@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Lobster&display=swap');

header *{  
    display: inline; 
    margin: 23px; 
    font-size: 25px;
    color: #193248;
    
}
header {  
    height: 65px;
    width: 100%;
    display: flex;  
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 3;
}
.img{
    background-image: url(/images/484b7e_2986719597d643848e338a6f31f797c4_mv2.png);
    background-attachment: fixed;
    text-align: center;
    padding: 100px 15px;
    height: 500px;
}
.img h1{
    position: absolute;
    white-space: nowrap;
    -webkit-animation: rightThenLeft 2s ease-out;
    animation-fill-mode : forwards;
    font-family: 'Lobster', cursive;
}
@-webkit-keyframes rightThenLeft {
    from {left: 0%;}
    to {left: 30%;}
}
.img h2{
    position: absolute;
    white-space: nowrap;
    -webkit-animation: leftThenright 2s ease-out;
    animation-fill-mode : forwards;
    font-family: 'Lobster', cursive;
}
@-webkit-keyframes leftThenright {
    from {right: 0%;}
    to {right: 30%;}
}
.row{
-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0,0,0,0);
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 18px;

color: #333;
visibility: visible;
box-sizing: border-box;
margin: 0px 400px 0px 400px ;
}
#x{
    background-image: url(/images/R\ \(1\).jpeg);
    background-attachment: fixed;
    padding: 100px 10px;
    height: 480px;
}
h4:hover{
    transform: scale(1.1);
    filter: brightness(.9);
}
img:hover{
    transform: scale(0.9);
    filter: brightness(.9);
    border-radius: 2%;
}
.menu>img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-transition: all .2s ease-in-out 0s;
    
}
#gallery{
    padding-left: 120px;
}
#menu{
    padding: 100px 5px;
}