<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Website</title>
    <link rel="stylesheet" href="style.css">
    <style>
        body{
            background-image: url(images.jpeg);
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>
<body >
    <header>
        <nav>
            <ul >
                <li>Home</li>
                <li>News</li>
                <li>About</li>
                <li>Contact</li>
                <li>Admissions</li>
            </ul>
        </nav>
    </header>
    <br>
    <h1> <center> Smt. Kashibai Navale Collage of Engineering Pune </center></h1>
    <hr color="black">
    <p >&nbsp;&nbsp;&nbsp;&nbsp; Established in <strong>2001</strong>, Smt. Kashibai Navale College of Engineering remains to be a centre for top-class technical education in Pune, Maharashtra. The college offers undergraduate, postgraduate and Ph.D programmes in the field of engineering and management. The college has been accredited with A Grade by the National Assessment and Accreditation Council (NAAC). </p>
    <ul class="list">
        <li>undergraduate engineering programme is offered in Electronics & Telecommunication, Computer Science, Information Technology and Mechanical Engineering.</li>
        <li>Spread over an area of 18,532 sq. m, the college maintains a state-of-the-art campus.</li>
        <li>The library of the college boasts of 18,532 volumes. Further, the college comprises advanced labs, modern classrooms and 696 computer terminals offering a comprehensive learning environment.</li>
        <li>The fee for the first year of the Bachelors of Engineering programme at Smt. Kashibai Navale College of Engineering is INR 1,02,152.</li>
        <li>  The fee for the first year of the Masters of Engineering (ME) programme at the college is INR 97,227.</li>
        <li>The fee for the first year of the MBA programme at Smt. Kashibai Navale College of Engineering is INR 1,19,927.</li>
    </ul> 
    <br>    
    <center>
        <img src="sinhgad-college-of-engineering-scoe-pune.jpg" alt="Error" height="400" width="600">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="1543823352phpdwwXRV.png" alt="Error" height="400" width="600">
        <br><br>
    </center>
    <center>
        <p style="padding: 5px; color: hsl(0, 6%, 7%); font-family: Lato, sans-serif; font-size: 18px;"><strong><span> </span><span> </span>Under-graduate Engineering Program</strong></p>
    <table>
        <tr >
        <td class="xl69" width="109" height="42" style="height: 31.5pt; width: 82pt;"><strong>Sr. No.</strong></td>
        <td class="xl64" width="437" style="border-left: none; width: 328pt;"><strong>Programmes   Offered</strong></td>
        <td class="xl69" width="271" style="border-left: none; width: 203pt;"><strong>Intake</strong></td>
        </tr>
        <tr >
        <td class="xl65" width="109" height="51" style="height: 38.25pt; border-top: none; width: 82pt;">1</td>
        <td class="xl66" width="437" style="border-top: none; border-left: none; width: 328pt; text-align: left;">Computer   Engineering</td>
        <td class="xl70" width="271" style="border-top: none; border-left: none; width: 203pt;">300</td>
        </tr>
        <tr >
        <td class="xl67" width="109" height="51" style="height: 38.25pt; border-top: none; width: 82pt;">2</td>
        <td class="xl68" width="437" style="border-top: none; border-left: none; width: 328pt; text-align: left;">Electronics   and Telecommunication Engineering</td>
        <td class="xl71" width="271" style="border-top: none; border-left: none; width: 203pt;">300</td>
        </tr>
        <tr >
        <td class="xl65" width="109" height="51" style="height: 38.25pt; border-top: none; width: 82pt;">3</td>
        <td class="xl66" width="437" style="border-top: none; border-left: none; width: 328pt; text-align: left;">Information   Technology</td>
        <td class="xl70" width="271" style="border-top: none; border-left: none; width: 203pt;">120</td>
        </tr>
        <tr >
        <td class="xl67" width="109" height="51" style="height: 38.25pt; border-top: none; width: 82pt;">4</td>
        <td class="xl68" width="437" style="border-top: none; border-left: none; width: 328pt; text-align: left;">Mechanical   Engineering</td>
        <td class="xl71" width="271" style="border-top: none; border-left: none; width: 203pt;">330</td>
        </tr>
        </table>
        <marquee><a href="Forms.html" style="font-size:xx-large ; color: black;" target="_blank"><strong>CLICK HERE FOR ADMISSION FORM !</strong> </a></marquee>

    </center>

</html>